extends ../layout

block content
  .row
    .col-md-4.col-sm-4.col-xs-12
      +x_panel("Fridge Supplies", "supplies/fridge")
        each supply in fridgeSupplies
          +supply_widget(supply)

    .col-md-4.col-sm-4.col-xs-12
      +x_panel("Freezer Supplies", "supplies/freezer")
        each supply in freezerSupplies
          +supply_widget(supply)

    .col-md-4.col-sm-4.col-xs-12
      +x_panel("Cupboard Supplies", "supplies/cupboard")
        each supply in cupboardSupplies
          +supply_widget(supply)
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Detailed List
          ul.nav.navbar-right.panel_toolbox
            li: a.collapse-link: i.fa.fa-chevron-up
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              ul.dropdown-menu(role='menu')
                li: a(href='#') Settings 1
                li: a(href='#') Settings 2
            li: a.close-link: i.fa.fa-close
          .clearfix
        .x_content
          table.table.table-hover
            thead
              tr
                th Item
                th Location
                th Desired Quantity
                th Current Quantity
                th Notify Purchase
                th Actions
            tbody
              each supply in supplies
                tr
                  th(scope="row", style="vertical-align: middle;")= supply.name
                  td(style="vertical-align: middle;")= supply.location.charAt(0).toUpperCase() + supply.location.slice(1)
                  td(style="vertical-align: middle;")= supply.desired + " " + supply.units
                  if supply.value/supply.desired < 0.15
                    td(style="vertical-align: middle;")
                      = supply.value + " " + supply.units + " "
                      span.label.label-info Purchase Recommended
                  else
                    td(style="vertical-align: middle;"):= supply.value + " " + supply.units
                  case supply.autoPurchase
                    when true
                      td(style="vertical-align: middle;"): span.label.label-success.center Yes
                    when false
                      td(style="vertical-align: middle;"): span.label.label-danger.center No
                  td(style="vertical-align: middle;")
                    div: a(href="/supplies/"+supply.name+"/buy") Purchase
                    div: a(href="/supplies/"+supply.name+"/check") Check Supplies

  if errorMessage !== undefined
    script.
      window.onload = function() {
        new PNotify({
          title: 'Something went wrong',
          text: "#{errorMessage}",
          type: 'error',
          styling: 'bootstrap3'
        });
      };
  if suppliesMessage !== undefined
    script.
      window.onload = function() {
        new PNotify({
          title: 'Current Supplies of #{supplyName}',
          text: "#{suppliesMessage}",
          type: 'success',
          styling: 'bootstrap3'
        });
      };